@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 34px);

  .items {
    @include mixins.box-size(100%, 100%);
    @include mixins.text(var(--text-primary), 18px);
    @include mixins.flex(flex-start, center);
    position: relative;
    gap: 12px;

    .item{
      cursor: pointer;
      transition: color 0.5s;

      &_active{
        color: var(--blue-primary);
        pointer-events: none;
      }
    }
  }

  .line {
    background-color: var(--blue-primary);
    height: 2px;
    margin-top: 4px;
    position: absolute;
    bottom: 0;
  }
}