[data-theme="dark"] {
    --bg-primary: #1B2029;
    --bg-active: #14171E;
    --bg-substrate: #14171E;
    --bg-local: #212836;
    --bg-green: #C3FFC6;
    --bg-blue: #E8E7F9;
    --bg-red: #6E2034;
    --bg-red-number: #C3FFC6;
    --bg-green-number: #E8E7F9;
    --dark-primary: #3767E7;
    --light-secondary: #14171E;
    --blue-primary: #3767E7;
    --red-primary: #E11432;
    --green-primary: #008D1F;
    --text-primary: #FFFFFF;
    --text-white: #2F3A4B;
    --text-red: #E11432;
    --text-green: #1BA439;
    --text-secondary: #A6A9AF;
    --text-blue: #396FFF;
    --text-disable: #626C7D;
    --border-bg: #2C3442;
    --border-area: #2D3544;
    --line-primary: #2C3442;
    /*цвета для текста статусов еще не уточнены*/
    --text-status-blue: #14171E;
    --text-status-green: #14171E;
    --text-status-red: #14171E;
    --text-status-orange: #14171E;
    --text-status-fate: #14171E;
    --text-status-cyan: #14171E;
    --text-status-khaki: #14171E;
    --text-status-purpure: #14171E;
    --text-status-brown: #14171E;
    --text-status-primary: #14171E;
    --text-status-sage: #14171E;
    --text-status-yellow: #14171E;
    --text-status-spring: #14171E;
    --text-status-berry: #14171E;
    --text-status-shell: #14171E;
    --text-status-pink: #14171E;
    --bg-status-blue: #14171E;
    --bg-status-green: #14171E;
    --bg-status-red: #14171E;
    --bg-status-orange: #14171E;
    --bg-status-fate: #14171E;
    --bg-status-cyan: #14171E;
    --bg-status-khaki: #14171E;
    --bg-status-purpure: #14171E;
    --bg-status-brown: #14171E;
    --bg-status-primary: #14171E;
    --bg-status-sage: #14171E;
    --bg-status-yellow: #14171E;
    --bg-status-spring: #14171E;
    --bg-status-berry: #14171E;
    --bg-status-shell: #14171E;
    --bg-status-pink: #14171E;
}
