[data-theme="light"] {
    --bg-primary: #FFFFFF;
    --bg-active: #FFFFFF;
    --bg-substrate: #F1F1F1;
    --bg-local: #F5F5F5;
    --bg-green: #C3FFC6;
    --bg-blue: #E8E7F9;
    --bg-red: #6E2034;
    --bg-red-number: #C3FFC6;
    --bg-orange: #FFF2E6;
    --bg-green-number: #E8E7F9;
    --dark-primary: #0D4CD3;
    --light-secondary: #F9FAFB;
    --blue-primary: #0D4CD3;
    --red-primary: #FFE4E4;
    --green-primary: #C3FFC6;
    --text-primary: #2F3A4B;
    --text-orange: #FF7A00;
    --text-white: #FFFFFF;
    --text-red: #E11432;
    --text-green: #008D1F;
    --text-secondary: #858585;
    --text-blue: #0046FF;
    --text-disable: #B9B9B9;
    --border-bg: #ECECEC;
    --border-area: #AFAFAF;
    --line-primary: #ECECEC;

    --text-status-blue: #14171E;
    --text-status-green: #14171E;
    --text-status-red: #14171E;
    --text-status-orange: #14171E;
    --text-status-fate: #14171E;
    --text-status-cyan: #14171E;
    --text-status-khaki: #14171E;
    --text-status-purpure: #14171E;
    --text-status-brown: #14171E;
    --text-status-primary: #14171E;
    --text-status-sage: #14171E;
    --text-status-yellow: #14171E;
    --text-status-spring: #14171E;
    --text-status-berry: #14171E;
    --text-status-shell: #14171E;
    --text-status-pink: #14171E;
    --bg-status-blue: #14171E;
    --bg-status-green: #14171E;
    --bg-status-red: #14171E;
    --bg-status-orange: #14171E;
    --bg-status-fate: #14171E;
    --bg-status-cyan: #14171E;
    --bg-status-khaki: #14171E;
    --bg-status-purpure: #14171E;
    --bg-status-brown: #14171E;
    --bg-status-primary: #14171E;
    --bg-status-sage: #14171E;
    --bg-status-yellow: #14171E;
    --bg-status-spring: #14171E;
    --bg-status-berry: #14171E;
    --bg-status-shell: #14171E;
    --bg-status-pink: #14171E;
}
