@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column;
  gap: 12px;
  padding: 12px;
  overflow: auto;

  img{
    @include mixins.box-size(600px, 400px);
  }

  a {
    color: #396FFF;
    cursor: pointer;
  }

  .bottom{
    margin-bottom: 200px;
  }
}
