@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.text(var(--text-primary), 14px);
  @include mixins.flex-column;
  gap: 12px;

  .header {
    @include mixins.box-size(100%, 40px);
    @include mixins.flex(space-between, center);
    padding: 12px;
  }

  .widgets {
    @include mixins.box-size(100%, 100%);
    @include mixins.flex-column;
    padding: 12px;
    gap: 12px;

    .grid {
      @include mixins.box-size(100%, 100%);
      flex: 1;
      overflow: auto;
    }
  }
}
