@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.flex(center, center);
  @include mixins.box-size(100%, 28px);
  @include mixins.box-min-size(22px, 22px);
  padding: 6px 12px;
  background-color: #3463E0;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  transition: background-color 0.2s;

  svg{
    @include mixins.box-min-size(14px, 14px);
  }
}

.disabled{
  pointer-events: none;
  background-color: var(--text-disable);
}
