@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column;
  padding: 12px;
  gap: 12px;
  background-color: var(--bg-primary);
  border-radius: 12px;

  .host {
    @include mixins.box-size(100%, auto);
    @include mixins.flex(flex-start, center);
    gap: 12px;
  }

  .terminal {
    @include mixins.flex-column;
    @include mixins.box-size(100%, 100%);
    gap: 6px;
    padding: 12px;
    background-color: var(--bg-substrate);
    border-radius: 12px;
    white-space: pre-wrap;
    .input{
      border-left: 1px solid var(--text-primary);
    }
  }
}
